﻿@inject AppState state
<div id="search-and-results-area">
        <HeaderComponent/>
        <div id="search-area" class="px-2 py-3">
            <!--<Search OnSearch="state.Search" /> how to pass params-->
            <CommonFieldComponents OnSubmit="state.Submit" />
            <MainForm formSelected="state.displayForm">
                <RequestForm />
            </MainForm>
        </div>
        <!--<GreyOutZone IsGreyedOut="state.SearchInProgress">
        <SearchResults Itineraries="state.SearchResults"
                       OnAddItinerary="state.AddToShortlist" />
    </GreyOutZone>-->
</div>
<!--Code for chaning states of just a component
    <div id="selections-area" class="p-3 pl-4">
    <Shortlist Itineraries="state.Shortlist"
               OnRemoveItinerary="state.RemoveFromShortlist" />
</div>-->

@code {
    protected override void OnInitialized()
    {
        state.OnChange += StateHasChanged;
    }
}
