﻿<form>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" oninput="updateForm" placeholder="Name" @bind="fullForm.Name">
        </div>
        <div class="form-group col-md-6">
            <label for="requestDate">Request Date</label>
            <input type="date" class="form-control" id="requestDate" placeholder="Request Date">
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="departmentLead">Department Lead</label>
            <input type="text" class="form-control" id="departmentLead" placeholder="Department Lead">
        </div>
        <div class="form-group col-md-6">
            <label for="departmentAdmin">Department Admin</label>
            <input type="text" class="form-control" id="departmentAdmin" placeholder="Department Admin">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-2">
            <label for="email">Email</label>
            <input type="text" class="form-control" id="email" placeholder="Email">
        </div>
        <div class="form-group col-md-2">
            <label for="cellPhone">Cell Phone</label>
            <input type="text" class="form-control" id="cellPhone" placeholder="Cell Phone">
        </div>
        <div class="form-group col-md-2">
            <label for="homePhone">Home Phone</label>
            <input type="text" class="form-control" id="homePhone" placeholder="homePhone">
        </div>
    </div>

    <!--<RequestForm />
    <ServicesForm />
    <SecurityForm />-->
    <div class="form-row">
        <div class="ml-auto">
            <button @onclick="() => OnSubmit.InvokeAsync(fullForm)" type="button" class="btn btn-danger px-5">
                Submit
            </button>
        </div>
    </div>
</form>


<!--<div class="form-group col-md-4">
    <label for="inputState">State</label>
    <select id="inputState" class="form-control">
        <option selected>Choose...</option>
        <option>...</option>
    </select>
</div>
        <div class="form-group">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck">
            <label class="form-check-label" for="gridCheck">
                Check me out
            </label>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Sign in</button>
    -->
@code {
    [Parameter]
    public EventCallback<FullFormRequest> OnSubmit { get; set; }

    private FullFormRequest fullForm = new FullFormRequest();
}
