﻿<div id="mainHeader">
    <div class="row py-1">
        <div class="col pr-0">Header goes here</div>
        <div class="col pr-0">Username will be here</div>
    </div>
    <div id="formTypeName" class="row py-1">
        <h3>Form name request type</h3>
    </div>
</div>

@code {

}
