﻿<div class="@(formSelected ? "greyout" : null)">
    <div class="cover"></div>

    formSelected?.@ChildContent
</div>

@code
{
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public bool formSelected { get; set; }
}
