﻿<form>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="userAccount">User Account</label>
            <input type="text" class="form-control" id="userAccount" placeholder="User Account">
        </div>
        <div class="form-group col-md-6">
            <label for="supplies">Supplies</label>
            <input type="date" class="form-control" id="supplies" placeholder="Supplies">
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="software">Software</label>
            <input type="text" class="form-control" id="software" placeholder="software">
        </div>
        <div class="form-group col-md-2">
            <label for="wifiAccess">Wifi Access</label>
            <input type="text" class="form-control" id="wifiAccess" placeholder="Wifi Access">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="voipPhone">VOIP Phone</label>
            <input type="text" class="form-control" id="voipPhone" placeholder="VOIP Phone">
        </div>
        <div class="form-group col-md-2">
            <label for="cPrinterAccess">Color Printer Access</label>
            <input type="text" class="form-control" id="cPrinterAccess" placeholder="Color Printer Access">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="folderAccess">Folder Access</label>
            <select id="folderAccess" class="form-control">
                <option selected>Choose...</option>
                <option>...</option>
            </select>
        </div>
        <div class="form-group col-md-4">
            <label for="satsangNetwork">Satsang Network</label>
            <select id="satsangNetwork" class="form-control">
                <option selected>Choose...</option>
                <option>...</option>
            </select>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="otherRequest">Other</label>
            <input type="text" class="form-control" id="otherRequest" placeholder="Other">
        </div>
        <div class="form-group col-md-2">
            <label for="cPrinterAccess">Color Printer Access</label>
            <input type="text" class="form-control" id="cPrinterAccess" placeholder="Color Printer Access">
        </div>
    </div>
</form>


@code {

}