﻿<form>
    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="keyRequestType">Key Request Type</label>
            <select id="keyRequestType" class="form-control">
                <option selected>Choose...</option>
                <option>...</option>
            </select>
        </div>
        <div class="form-group col-md-4">
            <label for="campusAccess">Campus Access</label>
            <select id="campusAccess" class="form-control">
                <option selected>Choose...</option>
                <option>...</option>
            </select>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="harcDevelopment">HARC Development</label>
            <select id="harcDevelopment" class="form-control">
                <option selected>Choose...</option>
                <option>...</option>
            </select>
        </div>
        <div class="form-group col-md-4">
            <label for="harcOperations">HARC Operations</label>
            <select id="harcOperations" class="form-control">
                <option selected>Choose...</option>
                <option>...</option>
            </select>
        </div>
        <div class="form-group col-md-4">
            <label for="harcITOps">HARC IT Access</label>
            <select id="harcITOps" class="form-control">
                <option selected>Choose...</option>
                <option>...</option>
            </select>
        </div>
    </div>
</form>

@code {

}
