﻿<form>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="requestInfo">Request Info</label>
            <input type="text" class="form-control" id="requestInfo" placeholder="Request Info">
        </div>
        <div class="form-group col-md-6">
            <label for="pickUpDate">Pickup Date</label>
            <input type="date" class="form-control" id="pickUpDate">
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="altContact">Alternative Contact</label>
            <input type="text" class="form-control" id="altContact" placeholder="Alternative Contact">
        </div>
        <div class="form-group col-md-2">
            <label for="altEmail">Alternative Email</label>
            <input type="text" class="form-control" id="altEmail" placeholder="Alternative Email">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="itPerson">IT Peronsal Recieved</label>
            <input type="text" class="form-control" id="itPerson">
        </div>
        <div class="form-group col-md-2">
            <label for="Notes">Notes</label>
            <input type="text" class="form-control" id="notes" placeholder="Notes">
        </div>
    </div>
</form>
@code {

}
